header {
    width: 100%;
    background-color: transparent;
    position: absolute;

    nav {
        width: 90%;
        margin: auto;

        .collapse {
            ul {
                width: 100%;
                justify-content: flex-end;

            }
        }

        .dropdown {
            &:hover {
                .dropdown-menu {
                    display: block;
                    background-color: black;
                    opacity: 75%;

                    a {
                        color: black !important;
                    }

                }
            }
        }

        // .nav-item {
        //     a {
        //         color: #fff !important;
        //     }
        // }

    }
}

.nav-link {
    color: #fff
}

.navbar-nav {
    .nav-link.active {

        color: #fff
    }
    .nav-link.show {
        color: #fff
    }
}


#dremServer {
    background-image: url(/ASSETS/img/slider3.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .dremServerWord {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;


            p {
                color: #fff;
                max-width: 100%;
            }

            .colorful {
                font-weight: 700;
                font-size: 20px;

            }

            .experience {
                font-weight: 900;
                font-size: 70px;
            }

            button {
                background-color: #fff;
                color: black;
                border-radius: 30px;
                width: 180px;
                padding: 7px 0px;
                border: 2px solid #fff;
                font-weight: 700;

                &:hover {
                    background-color: transparent;
                    transition: 1s;
                }
            }
        }
    }
}
#productsAll{
    .productstext{
        text-align: center;
        .someword{
            font-size: 30px;
            font-weight: 800;
        }
    }
    #products{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        .box{
            max-width: 300px;

            img{
                max-width: 100%;
            }
            button{
                background-color:#a51ef8;
                color: #fff;
                border-radius: 30px;
                border: 2px solid #a51ef8 ;
                padding: 5px 20px;
                font-weight: 600;
                &:hover{
                    background-color: transparent;
                    color: #a51ef8;
                    transition: 1s;
                }

            }
        }
    }
    .btnproducts {
        button{
             background-color:#a51ef8;
        color: #fff;
        border-radius: 30px;
        border: 2px solid #a51ef8 ;
        padding: 5px 20px;
        font-weight: 600;
        &:hover{
            background-color: transparent;
            color: #a51ef8;
            transition: 1s;
        }
        }
       
    }
}

#formServer {
    .container {
        .justDrop {
            max-width: 100%;

            .line {
                max-width: 100%;
                font-size: 35px;
                font-weight: 700;
            }
        }
    }

    .btnSubmit {
        button {

            background-color: #a51ef8;
            color: #fff;
            border-radius: 30px;
            width: 180px;
            padding: 7px 0px;
            border: 2px solid #a51ef8;
            font-weight: 700;

            &:hover {
                background-color: transparent;
                transition: 1s;
                color: #a51ef8;
            }

        }

    }
}

footer {
    background-color: #222222;

    p {
        color: #fff;

        span {
            color: #a51ef8;
        }
    }
}

@media only screen and (max-width: 600px) {
    #dremServer .container .dremServerWord .experience {
        font-size: 30px;
    }

    #dremServer .container .dremServerWord .colorful {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    header {

        nav {



            .navbar-nav {

                background-color: #a51ef8; 
                border-radius: 10px;
                
                padding: 0px 5px;
               
               
            }
        }
    }
    

}